@font-face {
font-family: "MuseoSansCyrl3";
src:url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf");
src:url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl_0.otf"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2");
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: "MuseoSansCyrl5";
src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf");
src:url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl_1.otf"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff2");
font-style: normal;
font-weight: 500;
}

@font-face {
font-family: "MuseoSansCyrl7";
src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf");
src:url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl_2.otf"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2");
font-style: normal;
font-weight: 700;
}

@font-face {
font-family: "MuseoSansCyrl9";
src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf");
src:url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl_3.otf"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff2");
font-style: normal;
font-weight: 900;
}