* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
    outline: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}

body{
	font-family: "MuseoSansCyrl5";
	font-size: 13px;
}

a{
	text-decoration: none;
	color: #161616;
}

ul{
	list-style-type: none;
	padding: 0;
}

.b-container{
	margin: 0 auto;
    max-width: 1190px;
    width: 100%;
	position: relative;
	box-sizing: border-box;
}

.b-top-line{
	padding: 17px 0 14px;
	font-family: "MuseoSansCyrl5";
	font-size: 13px;
	color: #959595;
	text-transform: uppercase;
	border-bottom: #eeeeee 1px solid;
}

.b-header-region{
	display: inline-block;
	text-align: left;
	width: 100%;
	max-width: 300px;
    vertical-align: top;
}
.header-text{
    font-size: 13px;
}

.b-header-region__name {
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/dashed-line.png);
    color: #666;
    font-size: 13px;
    background-repeat-y: no-repeat;
    background-position: bottom;
    padding-left: 3px;
}

.b-header-menu{
	display: inline-block;
    width: 100%;
    max-width: 695px;
    vertical-align: top;
}

.header-menu__item{
	display: inline-block;
    vertical-align: top;
}

.header-menu__item:not(:last-child) {
    margin-right: 37px;
}

.header-menu__link{
    font-size: 13px;
	text-decoration: none;
	color: #666;
}

.header-menu__link-red{
	color: red;
}

.b-phone-block{
	display: inline-block;
    text-align: right;
    width: 100%;
    max-width: 195px;
    letter-spacing: 0.8px;
    vertical-align: top;
}

.b-phone-block__number-link{
    font-size: 14px;
    line-height: 15px;
	font-weight: 700;
	color: #161616;
}

.b-logo-container{
	color: #959595;
    height: 83px;
    box-sizing: border-box;
}

.menu-button{
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url(../img/bar_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.b-logo {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 20px;
    margin-right: 91px;
    width: 210px;
    height: 42px;
}

.b-logo__img{
	vertical-align: middle;
    max-width: 100%;
}

.b-search-block{
	display: inline-block;
    vertical-align: top;
	max-width: 690px;
    width: 100%;
    padding-top: 21px;
    margin-right: 31px
}

.b-search-form{
    border: 1px solid #ddd;
}

.b-search-form__field{
    width: 652px;
	height: 38px;
    font-size: 15px;
    line-height: 21px;
	padding-left: 13px;
	box-sizing: border-box;
    vertical-align: top;
}

.b-search-form__field::placeholder {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.4px;
}

.b-search-form__button {
    margin-top: 3px;
    background-image: url(../img/search_icon.png);
    width: 32px;
    height: 32px;
    background-color: transparent;
}

.b-personal{
    width: 112px;
    height: 83px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 24px 20px 0 0;
    box-sizing: border-box;
    border-right: 1px solid #eee;
}

.b-personal:hover{
    background: #f4f4f4;
}

.b-personal__auth{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #959595;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    width: 90px;
    overflow: hidden;
}

.b-personal__text{
    display: block;
    color: #161616;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
}

.b-header-cart {
    position: absolute;
    vertical-align: top;
    width: 87px;
    height: 83px;
    right: -30px;
    top: 0;
    box-sizing: border-box;
    padding: 24px 0px 0 22px;
}

.b-header-cart:hover{
    background: #f4f4f4;
}

.b-main-menu{
	background-color: #ffdc00;
}

.main-menu__list {
    display: flex;
    justify-content: space-between;
}

.main-menu__item{
	display: inline-block;
    vertical-align: top;
    padding: 23px 25px 19px;
}

.main-menu__item:hover{
    background: #ffea00;
}

.main-menu__item:first-child {
    margin-left: -25px;
}

.main-menu__item:last-child {
    margin-right: -25px;
}

.main-menu__link{
    font-size: 15px;
    text-transform: uppercase;
    color: #161616;
}

.slider-container{
    background-color: #ffdc00;
}

.slick-slider {
    margin-bottom: 30px;
    max-width: 1280px;
    margin: 0 auto;
}

.b-slider__arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 1;
}

.slider__image{
    margin: 0 auto;
    width: 100%;
    display: none !important;
}

.b-best-products {
    margin-bottom: 51px;
}

.b-section-title{
	font-size: 25px;
    font-weight: 700;
    color: #161616;
    margin: 54px 0 38px;
    letter-spacing: 0.3px;
}

.b-wrapper-column {
    margin-left: -10px;
    overflow: hidden;
}

.b-column{
    margin-left: 10px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.b-column--large{
    max-width: 590px;
}

.b-column--small{
    max-width: 290px;
}

.b-column img{
    width: 100%;
}

.b-column__image{
    display: none !important;
}

.b-column__image-320{
    display: none !important;
}

.b-column__image-600{
    display: none !important;
}

.b-column__image-960{
    display: none !important;
}

.b-column--yellow{
    background-color: #ffdc00;
}

.b-column--red{
    background-color: #fc0f2b;
}

.b-benefits{
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;;
    padding: 39px 0 38px;
}

.b-benefits__item{
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.b-benefits__caption{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 18px;
    line-height: 18px;
    width: 57%;
}

.first-line,
.sub-first-line,
.third-line{
    font-size: 13px;
}

.sub-first-line{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.b-benefits__icon {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    width: 75px;
    background-image: url(../img/benefits-icon_set.png);
    background-repeat: no-repeat;
}

.b-benefits__item:nth-child(1){
    margin-left: 0;
}

.b-benefits__icon--warranty{
    background-position: -80px 0;
}

.b-benefits__icon--refund{
    background-position: -155px 0;
}

.b-benefits__icon--pay-later{
    background-position: -230px 0;
}

.b-category {
    border-bottom: 1px solid #eee;
    padding-bottom: 21px;
}

.b-category__list{
    margin-right: -10px;
}

.b-category__list-item {
    display: inline-block;
    width: calc(25% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: top;
    height: 339px;
}

.category__image {
    width: 100%;
}

.category__title{
	font-family: "MuseoSansCyrl7";
    font-size: 20px;
    color: #161616;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 36px;
}

.b-banners-brands {
    padding-top: 6px;
    margin-bottom: 41px;
}

.section-button{
    display: inline-block;
    vertical-align: top;
    font-family: "MuseoSansCyrl7";
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #ddd;
    position: absolute;
}

.section-button--yellow{
    background-color: #ffdc00;
    border: none;
}

.b-banners-brands__section-button {
    top: -1px;
    right: 90px;
}

.b-banners-brands__slider{
	padding-top: 5px;
}

.b-brands-list__slide-item{
	display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 130px;
    border: 1px solid #dddddd;
    margin-left: 10px;
    box-sizing: border-box;
}

.b-brands-list__slide-item:nth-child(1){
	margin-left: 0;
}

.b-brands-list__item-img {
    width: 100%;
}

.b-special-offers{
	padding-bottom: 61px;
	border-bottom: 1px solid #eee;
}

.b-special-offers__link{
	display: block;
}

.b-special-offers__banner-img,
.b-special-offers__banner-img--960,
.b-special-offers__banner-img--600,
.b-special-offers__banner-img--320{
    display: none;
    width: 100%;
}

.b-recommended-products__item {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    width: 250px;
    height: 350px;
    font-size: 15px;
    margin-left: 51px;
    box-sizing: border-box;
    overflow: hidden;
}

.b-recommended-products__item:nth-child(1) {
    margin-left: 17px;
}

.b-product-wrap{
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.product__picture{
	text-align: center;
}

.product__image {
    margin-top: -10px;
}

.product__info {
    height: 53px;
}

.product__title {
    margin-top: 12px;
}

.product__title-link {
    font-size: 15px;
    font-family: "MuseoSansCyrl7";
    color: #666666;
    line-height: 21px;
}

.product__price {
    padding-top: 15px;
}

.product__price-text {
    font-family: MuseoSansCyrl9;
    font-size: 24px;
}

.price-symbol-rub {
    font-size: 11px;
    padding: 0px 6px;
    display: inline-block;
}

.b-article-section {
    margin-top: 129px;
}

.b-article-section__title{
    font-family: "MuseoSansCyrl3";
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 11px;
}

.b-article-menu__list {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    width: 77%;
}

.b-article-menu__tab-item {
    display: inline-block;
    vertical-align: top;
    padding: 22px 18px 27px 0px;
}

.b-article-menu__tab-item--active{
    border-bottom: 5px solid #ffdc00;
}

.b-article-menu__icon{
    vertical-align: middle;
}

.b-article-menu__title {
    display: inline-block;
    vertical-align: bottom;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 22px;
    margin-left: 6px;
}

.text-strong{
    font-family: "MuseoSansCyrl7";
    font-size: 30px;
}

.article-section__section-button {
    font-size: 15px;
    right: 0;
    bottom: 25px;
}

.b-choose{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.b-choose__first{
    background: url(../img/article_bg.png);
}

.b-choose__second{
    background-color: #fafafa;
    padding-top: 42px;
}

.b-choose__second .b-choose__content-title {
    color: #161616;
    max-width: 400px;
}

.b-choose__second .b-choose__content-text {
    color: #161616;
}

.b-choose__content{
    max-width: 600px;
    width: calc(100% - 590px);
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
    box-sizing: border-box;
}

.b-choose__content-title {
    margin: 22px 0 23px;
    font-size: 35px;
    color: #fff;
    letter-spacing: 0.4px;
    max-width: 285px;
    line-height: 45px;
}

.b-choose__content-text {
    font-size: 15px;
    color: #fff;
    max-width: 450px;
    line-height: 21px;
}

.meta-wrap {
    padding: 13px 0 22px;
}

.b-choose__question-icon {
    vertical-align: middle;
    margin-right: 7px;
}

.meta-tag {
    font-size: 13px;
    color: #777;
    display: inline-block;
    vertical-align: middle;
}

.b-choose__section-button {
    font-size: 15px;
    position: static;
}

.b-choose__section-button--view_all{
    margin-left: 9px;
}

.b-choose-produkt__product-card {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 290px;
    height: 465px;
    box-sizing: border-box;
    padding: 2px 20px 26px;
    margin-right: 10px
}

.b-choose-produkt__product-card.second {
    margin-right: 0;
}

.product-card__label-container {
    position: absolute;
    top: 18px;
}

.product-card__label-wrapper {
    width: 60px;
}

.product-card__label-item {
    font-size: 11px;
    font-family: "MuseoSansCyrl9";
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding: 2px 5px;
    margin-top: 2px;
}

.product-card__label-item_bestseller {
    background-color: #309ace;
}

.product-card__label-item_promo {
    background-color: #eb2e2c;
}

.product-card__img-container {
    margin: 0 auto;
}

.product-card__img {
    width: 100%;
}

.b-product-card__name {
    padding-top: 13px;
}

.b-product-card__title {
    font-size: 15px;
    font-family: "MuseoSansCyrl7";
    line-height: 21px;
}

.product-card__price-container {
    padding-top: 26px;
}

.product__price-text {
    font-family: MuseoSansCyrl9;
    font-size: 24px;
}

.price-standart{
    color: #000;
}

.price-new {
    color: #eb2e2c;
}

.price-new__num {
    font-size: 24px;
    text-decoration: none;
    font-family: "MuseoSansCyrl9";
}

.price-new__rub,
.price-old__rub {
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 5px;
}

.price{
    display: inline-block;
}

.price-old {
    margin-left: 12px;
}

.price-old__num {
    font-size: 11px;
    text-decoration: none;
    font-family: "MuseoSansCyrl9";
    line-height: 11px;
}

.b-product-card__info-delivery {
    padding-top: 11px;
}

.delivery-type{
    display: block;
    font-size: 13px;
    line-height: 17px;
}

.b-product-card__rating-container {
    padding-top: 10px;
}

span.star_js {
    font-size: 17px;
    color: #feda31;
}

.b-last-viewed__galery {
    margin-top: -4px;
}

.b-last-viewed {
    margin-top: -13px;
}

.b-last-viewed__slider .b-last-viewed__item {
    width: 289px;
    height: 120px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    box-sizing: border-box;
}

.b-last-viewed__item:nth-child(1) {
    margin-left: 0;
}

.product__img-wrapper {
	height: 100%;
    width: 119px;
    padding: 0px 15px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
}

.last-product__image{
	margin-top: 28px;
    vertical-align: middle;
}

.product__right-info{
	display: inline-block;
    vertical-align: top;
	padding-top: 17px;
}

.last-product__name {
    height: 48px;
}

.last-product__title{
    font-family: "MuseoSansCyrl7";
    color: #666666;
    line-height: 16px;
    font-size: 13px;
}

.last-product__price-text{
	font-family: "MuseoSansCyrl9";
    font-size: 18px;
}

.b-subscribe{
	padding-bottom: 39px;
    margin-top: -1px;
}

.b-subscribe__wrapper {
    margin-top: -15px;
}

.b-subscribe__text-wrap {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.b-subscribe__text{
	font-family: "MuseoSansCyrl5";
	font-size: 15px;
	display: inline-block;
    vertical-align: top;
	width: 80%;
    line-height: 20px;
}

.b-subscribe__form{
	display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 0;
    margin-top: -1px;
    box-sizing: border-box;
    padding-left: 3px;
}

.b-subscribe__field {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 391px;
    padding: 11px;
    margin-top: -1px;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: 0.25px;
}

.b-subscribe__field::-webkit-input-placeholder {
	font-family: font-family: "MuseoSansCyrl5";
	font-size: 15px;
	color: #999999;
	letter-spacing: 0.5;
}

.b-subscribe__field:-moz-placeholder {
	font-family: font-family: "MuseoSansCyrl5";
	font-size: 15px;
	color: #999999;
}

.b-subscribe__field::-moz-placeholder {
	font-family: font-family: "MuseoSansCyrl5";
	font-size: 15px;
	color: #999999;
}

.b-subscribe__field:-ms-input-placeholder {
	font-family: font-family: "MuseoSansCyrl5";
	font-size: 15px;
	color: #999999;
}

.b-subscribe__section-button {
    font-size: 15px;
    padding-left: 37px;
    padding-right: 37px;
    margin-top: 1px;
    margin-left: 10px;
    position: static;
}

.b-footer {
    background: #efede7;
    padding-top: 38px;
}

.b-footer__middle {
    margin-left: -4px;
    padding-bottom: 29px;
    border-bottom: 1px solid #eee;
}

.b-footer__column{
	display: inline-block;
    width: 25%;
	vertical-align: top;
    padding-left: 4px;
    box-sizing: border-box;
}

.b-footer__column-feedback {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-left: 8px;
    box-sizing: border-box;
}

.b-footer__column-benefits{
    display: none;
    border-top: none;
}

.b-footer-menu__list {
    width: 86%;
}

.b-footer-feedback-item {
    padding: 6px 0 1px;
    margin-bottom: 6px;
}

.b-footer-menu__title-link {
    display: inline-block;
    vertical-align: top;
    font-family: "MuseoSansCyrl7";
    color: #161616;
    font-size: 18px;
    margin-bottom: 10px;
}

.b-footer-menu__link {
    font-size: 13px;
    line-height: 22px;
    color: #666;
}

.b-footer-menu__text {
    font-size: 13px;
}

.b-footer-phone__link {
    font-family: "MuseoSansCyrl7";
    display: block;
    margin-bottom: 3px;
    font-size: 15px;
}

.b-footer-socials__list {
    margin-left: -15px;
    padding-top: 6px;
}

.b-footer-socials__item {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-bottom: 7px;
}

.b-footer-socials__link {
    display: block;
}

.b-footer-socials__img-icon {
    width: 35px;
}

.b-footer-bottom {
    color: #666;
    padding: 25px 0 37px;
}

.b-footer-bottom__copyriting {
    display: inline-block;
    vertical-align: top;
    width: 75%;
}

.b-footer-bottom__copyriting-text {
    font-size: 13px;
}

.b-footer-bottom__copyriting-design {
    display: inline-block;
    vertical-align: top;
    margin-top: -3px;
    padding-left: 6px;
}

.aero-copyriting {
    display: inline-block;
    vertical-align: top;
    margin-left: 11px;
}

.b-footer-bottom__design-logo {
    width: 100%;
}

.aero-copyriting__text {
    font-size: 13px;
    line-height: 0px;
    vertical-align: top;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.aero-copyriting__link{
    font-size: 13px;
    color: #666;
}

@media only screen and (min-width : 1280px){

    .b-special-offers__banner-img{
        display: inline-block;
    }

    .b-column__image{
        display: block !important;
    }

    .slider__image-1280{
        display: block !important;
    }
}

@media only screen and (min-width : 960px){

    .b-header-cart__basket-icon--small{
        display: none;
    }

    .menu-button {
        display: none;
    }

    .b-column--large{
        width: calc(50% - 10px);
    }

    .b-column--small{
        width: calc(25% - 10px);
    }

    .b-slider__arrow{
        width: 35px;
        height: 35px;
    }

    .b-slider__arrow:before{
        content: "";
        display: inline-block;
        width: 12px;
        height: 24px;
    }

    .b-slider .slick-dots {
        position: absolute;
        bottom: 14px;
        right: 40px;
        text-align: right;
    }

    .b-slider .slick-dots li {
        margin: 0;
    }

    .b-slider .slick-dots li button:before {
        font-size: 12px;
    }

    .b-slider .b-slider__arrow--prev {
        left: 45px;
    }

    .b-slider .b-slider__arrow--next {
        right: 45px;
    }

    .b-slider .b-slider__arrow {
        top: 50%;
        margin-top: -17px;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .b-slider__arrow--next:before{
        background-image: url(../img/arrow_right.png);
    }

    .b-slider__arrow--prev:before{
        background-image: url(../img/arrow_left.png);
    }

    .b-slider__main .b-slider__arrow{
        top: -70px;
        border: 1px solid #ddd;
        background: transparent;
    }

    .b-slider__main .b-slider__arrow--prev {
        right: 0;
    }

    .b-slider__main .b-slider__arrow--next{
        right: 45px;
    }

    .b-slider__main .b-slider__arrow:before{
        content: "";
        display: inline-block;
        width: 12px;
        height: 24px;
    }

    .b-slider__main .b-slider__arrow--prev:before {
        background-image: url(../img/arrow_right_gray.png);
    }

    .b-slider__main .b-slider__arrow--next:before{
        background-image: url(../img/arrow_left_gray.png);
    }

    .b-last-viewed__slider .b-slider__arrow{
        top: -54px;
    }
}

@media only screen and (max-width : 959px){
    .b-top-line{
        display: none;
    }

    .b-main-menu{
        display: none;
    }

    .b-personal {
        display: none;
    }

    .b-header-cart__basket-icon{
        display: none;
    }

    .b-search-form {
        border: none;
    }

    .b-search-form__field{
        display: none;
    }

    .b-slider__arrow {
        display: none !important;
    }

    .b-slider .slick-dots li {
        width: 11px;
        margin: 0;
    }

    .b-slider .slick-dots li button:before {
        font-size: 7px;
    }

    .b-slider .slick-dots {
        bottom: -22px;
        right: 5px;
    }

    .b-column__image-960{
        display: none;
    }

    .b-choose__content {
        width: 100%;
        padding-right: 0;
    }

    .b-choose__content-title {
        max-width: 100%;
    }

    .b-choose__content-text {
        max-width: 100%;
    }

    .b-choose__section-button {
        font-size: 13px;
    }

    .price-new__num {
        font-size: 21px;
    }

    .b-footer {
        padding-top: 0;
    }

    .b-footer__middle {
        padding-bottom: 0;
    }

    .b-footer__column {
        display: block;
        width: 100%;
        border-top: 1px solid;
    }

    .b-footer__column.services {
        height: 328px;
    }

    .b-footer-menu__list {
        display: none;
    }

    .b-footer-menu__list-feedback{
        display: block;
        padding-top: 9px;
    }

    .b-footer-menu__title-link {
        padding: 18px 0 14px;
        margin-bottom: 0;
    }

    .b-footer-phone__link {
        background-color: #ffdc00;
        padding: 11px 33px;
        margin-bottom: 7px;
    }

    .b-footer__column-feedback {
        display: block;
        width: 100%;
        border-top: 1px solid;
    }

    .b-footer__column-benefits{
        display: block;
        border-top: none;
    }

    .b-footer-feedback-item {
        padding: 6px 0 1px;
        margin-bottom: 16px;
        display: inline-block;
        vertical-align: top;
        margin-right: 13px;
    }

    .b-footer-socials__list {
        margin-bottom: -5px;
    }

    .b-footer-menu__text {
        font-size: 11px;
    }

    .b-footer-bottom {
        padding: 19px 0 37px;
    }

    .b-footer-bottom__copyriting {
        width: 100%;
        margin-left: 3px;
    }

    .b-footer-bottom__copyriting-design {
        width: 105px;
        padding-top: 19px;
        padding-left: 3px;
    }

    .aero-copyriting {
        margin-left: 14px;
    }

}

@media only screen and (min-width : 320px)
                        (max-width : 599px){

    .b-container {
        width: 100%;
        padding: 0 10px;
    }

    .menu-button {
        margin-left: -6px;
        margin-top: 0px;
    }

    .b-logo-container {
        padding: 10px 0 10px;
    }

    .b-logo-block {
        margin-left: 15px;
        width: 150px;
        height: 32px;
        vertical-align: top;
    }

    .b-search-block {
        height: 32px;
        width: 65px;
    }

    .b-search-form {
        text-align: right;
        height: 100%;
    }

    .b-search-form__button {
        margin-top: 0px;
    }

    .b-header-cart {
        width: 44px;
        height: 32px;
        padding-top: 5px;
        box-sizing: border-box;
    }

    .header-cart__link {
        background-position: 24px 0px;
    }

    .slider-container {
        margin-bottom: 58px;
    }

    .b-slider .slick-dots {
        bottom: -25px;
    }

    .slider__image-320{
        display: block !important;
    }

    .b-section-title {
        font-size: 19px;
        letter-spacing: 0.7px;
        margin: 38px 0 19px;
    }

    .b-wrapper-column {
        margin-left: 0;
    }

    .b-column {
        margin-left: 0;
    }

    .b-column--large {
        width: 100%;
    }

    .b-column--small {
        width: 100%;
        max-width: none;
    }

    .b-column img {
        width: auto;
    }

    .b-column__image-320{
        display: block !important;
    }

    .b-best-products {
        margin-bottom: 30px;
    }

    .b-benefits {
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
        padding: 20px 0 0;
    }

    .b-benefits__item {
        width: 100%;
        margin-bottom: 16px;
    }

    .b-benefits__caption {
        width: 57%;
    }

    .sub-line{
        display: block;
    }

    .b-wrapper-column__category{
         margin-left: -10px;
    }

    .b-category {
        margin-top: -2px;
    }

    .category__item-link {
        height: 318px;
        width: calc(50% - 10px);
        margin-bottom: 10px;
        display: inline-block;
        margin-left: 10px;
        height: 170px;
        vertical-align: top;
    }

    .category__title {
        font-size: 15px;
        margin-top: 7px;
        margin-bottom: 0;
    }

    .b-banners-brands {
        padding-top: 0px;
        margin-top: -4px;
        margin-bottom: 75px;
    }

    .b-banners-brands__slider {
        padding-top: 0px;
    }

    .b-brands-list__slide-item {
        width: 95px!important;
        height: 75px!important;
        margin-right: 5px;
        margin-left: 0;
    }

    .b-banners-brands__section-button {
        top: auto;
        bottom: -56px;
        right: 0;
        left: 0;
        text-align: center;
        margin: 0 10px;
    }

    .b-special-offers {
        padding-bottom: 22px;
    }

    .b-special-offers__banner-img--320{
        display: inline-block;
    }

    .b-recommended-products {
        margin-top: -1px;
        padding-bottom: 20px;
        border-bottom: 1px solid;
    }

    .b-slider__recommended-products{
        height: 202px;
        overflow: hidden;
    }

    .b-recommended-products__item {
        width: 171px!important;
        height: 202px!important;
        padding: 4px 9px 0;
        margin-left: 10px;
        border: 1px solid;
    }

    .b-recommended-products__item:nth-child(1) {
        margin-left: -62px;
    }

    .product__picture {
        height: 128px;
    }

    .product__image {
        width: 115px;
        margin: 0px auto;
    }

    .product__info {
        height: auto;
    }

    .product__title {
        height: 36px;
        margin-top: 0;
    }

    .product__title-link {
        font-size: 13px;
        line-height: 18px;
    }

    .product__price {
        padding-top: 4px;
    }

    .product__price-text {
        font-size: 18px;
    }

    .b-article-section {
        margin-top: 0;
        padding-top: 34px;
    }

    .b-article-section__title {
        font-size: 25px;
    }

    .text-strong {
        font-size: 25px;
    }

    .article-section__section-button {
        font-size: 13px;
        right: 0;
        left: 0;
        top: 53px;
        bottom: auto;
        text-align: center;
    }

    .b-article-menu__list {
        width: 100%;
        margin-top: 46px;
    }

    .b-article-menu__tab-item:nth-child(2),
    .b-article-menu__tab-item:nth-child(3),
    .b-article-menu__tab-item:nth-child(4),
    .b-article-menu__tab-item:nth-child(5){
        display: none;
    }

    .b-article-menu__tab-item {
        padding-bottom:17px;
    }

    .b-choose {
        padding-top: 0;
        padding-bottom: 20px;
        overflow: hidden;
    }

    .b-choose__content-title {
        margin: 16px 0 24px;
        width: 200px;
        font-size: 25px;
        line-height: 30px;
    }

    .b-choose__second .b-choose__content-title {
        width: 100%;
    }

    .meta-tag {
        margin-top: 10px;
        margin-bottom: 23px;
    }

    .b-choose__section-button {
        font-size: 15px;
    }

    .b-choose-produkt__product-card.second {
        position: absolute;
    }

    .b-choose-produkt__product-card {
        width: 172px;
        height: 202px;
        padding: 0px 10px 26px;
        margin-top: 20px;
    }

    .product-card__label-container {
        top: 9px;
    }

    .b-product-card__name {
        padding-top: 0px;
        margin-top: -20px;
    }

    .b-product-card__title{
        font-size: 13px;
        line-height: 17px;
    }

    .product-card__price-container {
        padding-top: 0px;
        margin-top: -11px;
    }

    .price-new__num {
        font-size: 18px;
    }

    .b-product-card__info-delivery {
        display: none;
    }

    .b-product-card__rating-container {
        display: none;
    }

    .b-choose__second {
        padding-top: 19px;
        padding-bottom: 40px;
    }

    .b-choose__second .b-choose__content-text {
        margin-top: -5px;
    }

    .b-choose__section-button--view_all {
        margin-top: 11px;
        margin-left: 0;
    }

    .b-last-viewed {
        margin-top: -1px;
    }

    .b-last-viewed__galery {
        height: 202px;
        overflow: hidden;
    }

    .b-last-viewed__item {
        width: 171px!important;
        height: 202px!important;
    }

    .b-last-viewed__item:nth-child(1){
        margin-left: -62px;
    }

    .product__img-wrapper {
        height: 133px;
        width: 100%;
    }

    .last-product__image {
        margin: 28px auto 0;
    }

    .product__right-info {
        padding:0 10px;
    }

    .last-product__name {
        height: 39px;
    }

    .b-subscribe {
        padding-bottom: 19px;
        padding-top: 3px;
    }

    .b-subscribe__wrapper {
        margin-top: -2px;
        display: block;
    }

    .b-subscribe__text {
        font-size: 13px;
        width: 260px;
        line-height: 18px;
    }

    .b-subscribe__form {
        display: block;
        width: 100%;
        font-size: 0;
        margin-top: 17px;
        padding-left: 0;
    }

    .b-subscribe__field {
        border: 1px solid #ddd;
        width: 74%;
        padding: 11px;
        margin-top: -1px;
        box-sizing: border-box;
        font-size: 15px;
        letter-spacing: 0.25px;
    }

    .b-subscribe__section-button {
        display: none;
    }

    .b-footer__middle {
        padding-bottom: 0;
    }

    .b-footer__column.services {
        height: 332px;
    }

    .b-footer-menu__title-link {
        padding: 15px 0 18px;
        margin-bottom: 0px;
    }

    .b-footer__column-feedback {
        padding-top: 4px;
    }

    .b-footer-menu__list-feedback {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
    }

    .b-footer-feedback-item {
        vertical-align: top;
        width: calc(50% - 5px);
        margin-right: 10px;
        padding-top: 0;
        margin-bottom: 0;
    }

    .b-footer-feedback-item:nth-child(2) {
        margin-right: 0;
    }

    .b-footer-phone__link {
        background-color: #ffdc00;
        padding: 11px 0;
        margin-bottom: 8px;
        text-align: center;
        margin-left: -14px;
    }

    .b-footer-feedback__social-item{
        width: 100%;
        margin-right: 10px;
    }

    .b-footer-socials__list {
        margin-bottom: 12px;
    }

    .b-footer-socials__item {
        margin-left: 10px;
    }

    .b-footer-bottom {
        padding-bottom: 34px;
    }
}

@media only screen and (min-width : 960px)
                    and (max-width : 1279px) {

    .b-container {
        width: 100%;
        padding: 0 22px;
    }

    .b-top-line {
        padding: 12px 0 12px;
    }

    .b-header-region {
        width: 230px;
    }

    .b-header-region__name {
        letter-spacing: 1px;
    }
    
    .header-text,
    .b-header-region__name,
    .header-menu__link,
    .b-phone-block__number-link {
        font-size: 10px;
        line-height: 12px;
    }

    .b-header-menu {
        width: 560px;
        letter-spacing: 1px;
        box-sizing: border-box;
        padding-left: 2px;
    }

    .header-menu__item:not(:last-child) {
        margin-right: 17px;
    }

    .b-logo {
        padding-top: 19px;
        margin-right: 99px;
    }

    .b-main-menu {
        padding: 21px 0 19px;
    }

    .b-phone-block {
        width: 125px;
    }

    .b-search-block {
        width: 402px;
        padding-top: 19px;
        margin-right: 37px;
    }

    .b-search-form__field {
        width: 363px;
        height: 38px;
    }

    .b-search-form__field::placeholder {
        letter-spacing: 1.05px;
        font-size: 13px;
        font-family: "MuseoSansCyrl3";
    }

    .b-personal {
        height: 83px;
        padding: 22px 20px 0 0;
    }

    .b-personal:hover{
        background: #f4f4f4;
    }

    .b-header-cart {
        position: static;
        vertical-align: top;
        width: 87px;
        height: 83px;
        right: -30px;
        top: 0;
        padding: 24px 0px 0 22px;
    }

    .main-menu__link {
        font-size: 13px;
    }

    .slider-container {
        margin-bottom: -2px;
    }

    .slider__image-960{
        display: block !important;
    }

    .b-slider .b-slider__arrow--prev {
        left: 23px;
    }

    .b-slider .b-slider__arrow--next {
        right: 23px;
    }

    .b-slider .slick-dots {
        right: 20px;
    }

    .b-section-title {
        font-size: 19px;
        margin: 37px 0 19px;
        letter-spacing: 0.8px;
    }

    .b-choose__content {
        width: calc(100% - 453px);
        padding-right: 0;
    }

    .b-best-products {
        margin-bottom: 28px;
    }

    .b-column--large {
        max-width: 590px;
    }

    .b-column__image-960{
        display: inline-block !important;
        vertical-align: top;
    }

    .b-column__image{
        display: none !important;
    }

    .b-benefits {
        padding: 37px 0 38px;
    }

    .b-benefits__caption {
        width: 53%;
        margin-left: 10px;
    }

    .first-line {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    .third-line {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .b-category {
        padding-bottom: 14px;
    }

    .category__item-link {
        height: 258px;
    }

    .category__title {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 22px;
    }

    .b-banners-brands {
        padding-top: 2px;
        margin-bottom: 41px;
        margin-top: 0;
    }

    .b-banners-brands__section-button {
        top: -5px;
        right: 110px;
    }

    .b-banners-brands .b-section-title {
        font-size: 25px;
        margin-top: 32px;
        margin-bottom: 13px;
        letter-spacing: 0.1px;
    }

    .b-banners-brands__slider .b-slider__arrow {
        top: -48px;
    }

    .b-banners-brands__slider .b-slider__arrow--next {
        right: 46px;
    }

    .b-banners-brands__slider .b-slider__arrow--prev {
        left: 96%;
    }

    .banners-brands__button {
        top: -5px;
    }

    .b-brands-list__slide-item {
        display: inline-block;
        vertical-align: top;
        width: 144px;
        height: 99px;
        border: 1px solid #dddddd;
        margin-left: 10px;
        box-sizing: border-box;
    }

    .b-special-offers {
        padding-bottom: 40px;
    }

    .b-special-offers__banner-img--960{
        display: inline-block;
    }

    .b-recommended-products {
        padding-top: 20px;
        border: 1px solid #ddd;
        padding-bottom: 64px;
    }

    .b-slider__recommended-products .b-slider__arrow {
        top: -50px;
    }

    .b-recommended-products .b-section-title {
        font-size: 19px;
        margin-top: 16px;
    }

    .b-gallery-content {
        margin-top: -3px;
    }

    .b-recommended-products__item {
        width: 190px;
        margin-left: 40px;
    }

    .b-recommended-products__item:nth-child(1) {
        margin-left: 20px;
    }

    .product__title-link {
        font-size: 13px;
        line-height: 18px;
    }

    .product__picture {
        text-align: center;
    }

    .product__image {
        width: 100%;
        margin-top: -3px;
    }

    .product__info {
        height: 48px;
        padding: 3px 2px 0;
    }

    .product__title {
        margin-top: 0;
    }

    .product__price {
        padding: 0 2px;
        margin-top: -2px;
    }

    .b-article-section {
        margin-top: 34px;
        margin-bottom: 58px;
    }

    .b-article-menu__list {
        width: 100%;
        max-width: 739px;
    }

    .b-article-menu__tab-item {
        padding: 23px 19px 17px 0px;
        border-bottom: 4px solid #ffdc00;
    }

    .b-article-menu__title {
        font-size: 12px;
        margin-left: 3px;
        letter-spacing: 0.7px;
    }

    .article-section__section-button {
        font-size: 13px;
        right: 1px;
        bottom: 14px;
        padding: 10px 15px;
    }

    .b-choose {
        padding: 20px 0;
    }

    .b-choose__content-title {
        max-width: 100%;
        margin: 0px 0 21px;
        font-size: 30px
    }

    .b-choose__content-text {
        font-size: 15px;
        color: #fff;
        max-width: 445px;
        line-height: 21px;
    }

    .meta-tag {
        margin: 21px 0 11px 28px;
    }

    .b-choose__section-button {
        font-size: 13px;
        padding: 10px 20px;
    }

    .b-choose-produkt__product-card {
        width: 221px;
        height: 355px;
        padding: 0 20px 22px;
        margin-right: 10px;
    }

    .product-card__label-container {
        position: absolute;
        top: 9px;
        left: 21px;
    }

    .b-product-card__name {
        padding-top: 7px;
    }

    .product-card__price-container {
        padding-top: 0;
        margin-top: -8px;
    }

    .b-choose__second .product-card__price-container {
        margin-top: -8px;
    }

    .b-product-card__info-delivery {
        padding-top: 12px;
    }

    .delivery-type {
        display: block;
        font-size: 11px;
        line-height: 15px;
    }

    .b-product-card__rating-container {
        padding-top: 7px;
    }

    .b-choose__second {
        padding-top: 26px;
    }

    .b-choose__second .b-choose__content-title {
        width: 345px;
        line-height: 35px;
        margin-bottom: 25px;
    }

    .b-choose__second .product-card__img-container {
        width: 100%;
    }

    .b-choose__second .b-choose-produkt__product-card {
        margin-top: 18px;
    }

    .product-card__label-container {
        top: 9px;
    }

    .b-product-card__title{
        font-size: 13px;
        line-height: 18px;
    }

    .b-last-viewed {
        margin-bottom: 60px;
        margin-top: 0;
    }

    .b-last-viewed__slider .b-slider__arrow {
        top: -65px;
    }

    .b-last-viewed__galery {
        margin-top: 35px;
    }

    .b-last-viewed__item {
        width: 220px;
        margin-left: 11px;
    }

    .b-last-viewed__item:nth-child(1) {
        margin-left: 2px;
    }

    .product__right-info {
        margin-left: 0px;
    }

    .last-product__price-text {
        font-size: 18px;
    }

    .b-footer-socials__list {
        padding-top: 0px;
    }

    .b-subscribe__wrapper {
        margin-top: 0;
        padding-top: 6px;
    }

    .b-subscribe__text-wrap {
        display: inline-block;
        vertical-align: top;
    }

    .b-subscribe__form {
        padding-left: 5px;
    }

    .b-subscribe__text {
        line-height: 20px;
        width: 100%;
    }

    .b-subscribe__field {
        width: 66%;
        padding: 11px 0 11px 8px;
        letter-spacing: 0.15px;
    }

    .b-subscribe__section-button {
        font-size: 13px;
        padding: 12px 22px;
        margin-left: 8px;
    }

    .b-footer {
        padding-top: 39px;
    }

    .b-footer-menu__list {
        width: 87%;
    }
}

@media only screen and (min-width : 600px)
                    and (max-width : 959px) {

    .b-container {
        padding: 0 19px;
    }

    .menu-button{
        margin: 2px 0 0 -3px;
    }

    .b-logo-block {
        width: 30%;
        min-width: 150px;
        margin-left: 21px;
    }

    .b-logo-container {
        padding: 11px 0;
    }

    .b-search-block{
        width: calc(100% - 264px);
        text-align: right;
        vertical-align: top;
    }

    .b-search-form__button {
        margin-top: 2px;
        vertical-align: top;
    }

    .b-header-cart {
        width: 8%;
        height: 30px;
        padding-top: 8px;
        padding-right: 3px;
        box-sizing: border-box;
        vertical-align: top;
    }

    .slider-container {
        margin-bottom: 53px;
    }

    .slider__image-600{
        display: block !important;
    }

    .b-best-products {
        margin-bottom: 28px;
    }

    .b-section-title {
        margin: 38px 0 18px;
        letter-spacing: 0.3px;
    }

    .b-column{
        margin-left: 10px;
    }

    .b-column--large {
        width: calc(100% - 10px);
    }

    .b-column--small {
        width: calc(50% - 10px);
    }

    .b-column__image-600{
        display: inline-block !important;
        vertical-align: top;
    }

    .b-benefits {
        padding: 19px 0 2px;
        margin-bottom: -20px;
    }

    .b-benefits__item {
        width: 50%;
        margin-bottom: 16px;
    }

    .b-benefits__caption {
        margin-left: 23px;
    }

    .sub-first-line {
        display: block;
    }

    .b-wrapper-column {
        margin-left: -10px;
    }

    .b-category {
        padding-top: 15px;
        padding-bottom: 8px;
    }

    .category__item-link {
        height: 318px;
        width: calc(50% - 10px);
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }

    .category__image {
        width: 100%;
    }

    .b-banners-brands {
        padding-top: 0px;
        margin-bottom: 46px;
        margin-top: -6px;
    }

    .b-banners-brands__section-button {
        top: -3px;
        right: 17px;
    }

    .b-banners-brands__slider {
        padding-top: 10px;
        height: 133px;
    }

    .b-brands-list__slide-item:nth-child(1) {
        margin-left: -30px;
    }

    .b-brands-list__slide-item{
        width: 188px!important;
        height: 129px!important;
        margin-left: 10px;
    }

    .b-special-offers {
        padding-bottom: 65px;
    }

    .b-special-offers__link {
        height: 218px;
    }

    .b-special-offers__banner-img--600{
        display: inline-block;
    }

    .logo-brend {
        margin-top: 14px;
        width: 45%;
    }

    .b-recommended-products {
        margin-top: -6px;
        padding-bottom: 63px;
        border-bottom: 1px solid #ddd;
    }

    .b-slider__recommended-products {
        padding-top: 5px;
        height: 250px;
    }

    .b-recommended-products__item {
        width: 173px!important;
        margin-right: 15px;
        margin-left: 0;
    }

    .b-recommended-products__item:nth-child(1) {
        margin-left: 5px;
    }

    .product__image {
        margin-top: 0;
        width: 100%;
    }

    .product__title-link {
        font-size: 13px;
        line-height: 18px;
    }

    .product__title {
        margin: 0 5px;
    }

    .product__info {
        height: 48px;
    }

    .product__price {
        padding: 0 6px;
    }

    .product__price-text {
        font-size: 20px;
    }

    .b-article-section {
        margin-top: 0;
        padding-top: 44px;
    }

    .b-article-menu__list {
        width: 84%;
    }

    .b-article-menu__tab-item {
        margin-bottom: 28px;
        padding: 30px 18px 27px 0px;
    }

    .b-article-menu__tab-item:nth-child(4),
    .b-article-menu__tab-item:nth-child(5) {
        display: none;
    }

    .article-section__section-button {
        font-size: 13px;
        right: 19px;
        bottom: auto;
        top: 0;
    }

    .b-choose {
        padding-top: 0;
        padding-bottom: 28px;
    }

    .b-choose__content-title {
        margin: 18px 0 17px;
        font-size: 24px;
        letter-spacing: 0.8px;
        max-width: 100%;
    }

    .b-choose__second .b-choose__content-title {
        margin: 17px 0 15px;
        max-width: 100%;
    }

    .meta-tag {
        margin-top: 19px;
        margin-left: 30px;
        margin-bottom: 11px;
    }

    .read-more {
        letter-spacing: 0.5px;
        margin-bottom: 21px;
    }

    .b-choose-produkt__product-card {
        width: 180px;
        height: 325px;
        padding: 0px 10px 26px;
    }

    .product-card__label-container {
        top: 7px;
    }

    .b-product-card__name {
        padding-top: 7px;
    }

    .b-product-card__title {
        font-size: 13px;
        line-height: 18px;
    }

    .product-card__price-container {
        padding-top: 0px;
        margin-top: -8px;
    }

    .delivery-type {
        font-size: 11px;
        line-height: 15px;
    }

    .b-last-viewed {
        margin-top: -4px;
        padding-bottom: 39px;
        border-bottom: 1px solid #ddd;
    }

    .b-last-viewed__galery {
        margin-top: 0;
        padding-top: 19px;
    }

    .b-last-viewed__item {
        width: 168px!important;
        height: 189px!important;
    }

    .b-last-viewed__item:nth-child(1){
        margin-left: 30px;
    }

    .product__img-wrapper {
        height: 118px;
        width: 100%;
    }

    .last-product__image {
        margin: 28px auto 0;
    }

    .product__right-info {
       padding: 0 15px;
    }

    .last-product__name {
        height: 33px;
    }

    .last-product__title{
        font-size: 11px;
    }

    .last-product__price-text {
        font-size: 16px;
    }

    .b-subscribe {
        margin-top: -2px;
        margin-left: 2px;
    }

    .b-subscribe .b-section-title {
        font-size: 20px;
    }

    .b-subscribe__text-wrap {
        display: block;
        padding-top: 18px;
        padding-bottom: 16px;
        width: 100%;
    }

    .b-subscribe__text {
        width: 85%;
    }

    .b-subscribe__form {
        display: block;
        width: 100%;
        padding-left: 0;
    }

    .b-subscribe__field {
        width: 65.4%;
        margin-top: -1px;
    }

    .b-subscribe__section-button {
        padding-right: 33px;
        padding-left: 33px;
        margin-left: 10px;
    }

    .b-footer__column.services {
        height: 330px;
    }

    .b-footer-bottom {
        padding: 18px 0 41px;
    }

    .b-footer-bottom__copyriting {
        width: 100%;
        margin-left: 1px;
    }

    .b-footer-bottom__copyriting-design {
        width: 105px;
        padding-top: 23px;
        padding-left: 1px;
    }

    .aero-copyriting {
        margin-left: 14px;
        padding-top: 24px;
    }

}